<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.swdc.codetime.managers.InfoPreferencePage"
            id="com.swdc.codetime.PreferencesPage"
            name="Code Time">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.swdc.codetime.Activator">
      </startup>
   </extension>
   <extension point="org.eclipse.ui.views">
        <view id="com.swdc.codetime.tree.metricsTreeView"
          name="Code Time"
          class="com.swdc.codetime.tree.MetricsTreeView"
          icon="icons/paw.png"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.swdc.ide.codetime.toolbar">
            <control
                  class="com.swdc.codetime.util.SWCoreStatusBar">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
